
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="product-info">
            <img src="~/img/VanGogh.jpg" alt="Van Gogh painting" />
            <h3>Mug</h3>
            <ul class="productProps">
                <li>Price: $9.99</li>
                <li>Artist: Van Gogh</li>
                <li>Title:</li>
                <li>Description: Self-portrait</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>
        <div id="theForm">
            <form>
                <label>Your Name:</label>
                <br />
                <input type="text" name="name" value="" />
                <br />
                <label>Email:</label>
                <br />
                <input type="email" value="" />
                <br />
                <label>Subject:</label>
                <br />
                <textarea rows="4"></textarea>
                <br />
                <input type="submit" value="Send message" />
            </form>
        </div>
        <div>
            <div id="loginToggle">login</div>
            <form class="popup-form">
                <div>
                    <label>Username</label>
                    <input type="text" name="userName" value="" />
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" value="" />
                </div>
                <div>
                    <input type="checkbox" value="" />
                    <label>Remember me</label>
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <p>This is a fun site to do some buying ofDutch products.</p>
    </div>
</div>